$blue1: #4e72dd;
$blue2: #2e57d1;
$blue3: #103cc0;

$green1: #3de184;
$green2: #19d66c;
$green3: #00c857;

$red1: #ff4e45;
$red2: #ff291e;
$red3: #ff0d00;

$yellow1: #ffbe45;
$yellow2: #ffb01e;
$yellow3: #ffa500;

$grey: #ecedf1;

$outerMainBg: #ecedf1;
$mainBackgrond: #ffffff;

$mainText: black;
$navText: #ffffff;
$visitedLink: purple;

$navBar: $blue1;
$navBarDark: $blue3;

$fontHeader: Georgia;
$fontMain: Arial;
